{% extends "base.html.twig" %}

{% block title %} Gestion de la table {{ metaData.tableTitle }} {% endblock %}

{% block main_content %}
    {# Passing twig varables to javascript #}
    <script language="javascript"  >
        var metaData = [];
        {% for key, value in metaData %}
            {% if not (key== "fields") %} metaData['{{key}}'] = '{{value}}';
            {% else %}
                var tkfields = [];

                {% for kf, vf in metaData.fields %}

                    var {{("afield"~kf)}}= [];
                    {% for k, v in vf %}
                        {{("afield"~kf)}}['{{k}}'] = '{{v}}';
                    {% endfor %}
                        tkfields['{{kf}}'] ={{("afield"~kf)}} ;
                {% endfor %}
                    metaData['fields'] = tkfields;
                    console.log(metaData);
            {% endif %}
        {% endfor %}
        var searchUrl='{{path('user_table_search',{'table_name':metaData.tableUrl})}}';
        var editUrl='{{path('user_table_create_edit',{'table_name':metaData.tableUrl})}}';
        var deleteUrl='{{path('user_table_delete',{'table_name':metaData.tableUrl})}}';
    </script>

    <div  class ="row">

        <h2>

            {{ metaData.tableTitle }}
        </h2>
        
        <div class="container" id="myReactContainer">
          
        </div>
       
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/babel" src="{{ asset('react/tableManagerService.js') }}" ></script>
    <script type="text/babel" src="{{ asset('react/tableManager.js') }}" > </script>
{% endblock %}