{% extends "base.html.twig" %}

{% block title %} Gestion de la table -- {% endblock %}

{% block main_content %}
    {# Passing twig varables to javascript #}
    <script language="javascript"  >
        var metaData = [];
        {% for key, value in metaData %}
            {% if not (key== "fields") %} metaData['{{key}}'] = '{{value}}';
            {% else %}
                var tkfields = [];

                {% for kf, vf in metaData.fields %}

                    var {{("afield"~kf)}}= [];
                    {% for k, v in vf %}
                       {{("afield"~kf)}}['{{k}}']='{{v}}';
                    {% endfor %}
                    tkfields['{{kf}}']={{("afield"~kf)}};
                {% endfor %}
                metaData['fields'] = tkfields;
                console.log(metaData);
            {% endif %}
        {% endfor %}
    </script>

    <div  class ="row">

        <h2>

            Table --
            {{ dump(metaData) }}
        </h2>

        <div class="container">


            <br/>
            <center><button class="btn btn-primary btn-sm"> <i class="fa fa-plus"></i> Ajouter </button></center>
            <br/>
            <div id="myReactTable">
            </div>
        </div>

    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/babel" src="{{ asset('react/tableManager.js') }}" />
{% endblock %}